<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Daily Habits</th>
            <th>Check Ins</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.commitment}}</td>
            <td>{{this.checkIns}}</td>
            <td>

<form action="/checkin/{{this._id}}" method="post" autocomplete="off">
    <input type="hidden" name="_id" value="{{habit._id}}">
    <div class="form-group">
        <input type="hidden" class="form-control" name="checkIns" placeholder="Commitment" value="{{this.checkIns}}">
        <input type="submit" value="Check In" />
        </div></form>
                <a href="{{this._id}}">Edit Commitment</a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Confirm delete?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>